# This should be a cryptographically secure secret token.
# use openssl rand -base64 32 to generate a token
# see: https://better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=""
# This is only ever used on application first setup, you can change all of these later in the app.
DEFAULT_ADMIN_USER=""
DEFAULT_ADMIN_PASS=""
DEFAULT_ADMIN_BSKY_PASS=""
# If you use turnstile, this is your secret key
TURNSTILE_SECRET_KEY=""
# This should be your service account's app password with access to direct messages
RESET_BOT_APP_PASS=""
# a header value that will be included on requests while trying to resize images. Protects the resize bucket while still making it accessible to CF Images.
RESIZE_SECRET_HEADER=somecoollongstring
# uncomment this to true for local development
# do not commit this value as a secret
# it should be a variable
#
#IN_DEV=true