# This should be a cryptographically secure secret token.
# use openssl rand -base64 32 to generate a token
# see: https://better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=""
# this should be your domain, but it can also be * in development
BETTER_AUTH_URL=*
# This is only ever used on application first setup, you can change your username/password later in the app.
DEFAULT_ADMIN_USER=""
DEFAULT_ADMIN_PASS=""
# your bsky app pass for the above account. You can also change this later in the app.
DEFAULT_ADMIN_BSKY_PASS=bsky-app-password-for-user
# If you use turnstile, this should be your secret key
TURNSTILE_SECRET_KEY=cf-secret-keycode
# This should be an app password with a default password
RESET_BOT_APP_PASS=""
# a header value that will be included on requests while trying to resize images. Protects the resize bucket while still making it accessible to CF Images.
RESIZE_SECRET_HEADER=somecoollongstring
# uncomment this to true for local development
# do not commit this value as a secret
# it should be a variable
#
#IN_DEV=true