BETTER_AUTH_SECRET=a-secret-for-better-auth
BETTER_AUTH_URL=*
DEFAULT_ADMIN_USER=why.bsky.social
DEFAULT_ADMIN_PASS=dashboard-password
DEFAULT_ADMIN_BSKY_PASS=bsky-app-password-for-user
TURNSTILE_SECRET_KEY=cf-secret-keycode
RESET_BOT_APP_PASS=bsky-app-password-for-user-with-dm-access
RESIZE_SECRET_HEADER=somecoollongstring
# uncomment this to true for local development
# do not commit this value as a secret
# it should be a variable
#
#IN_DEV=true