name = "skyscheduler"
main = "src/index.tsx"
compatibility_date = "2024-12-13"
compatibility_flags = [ "nodejs_compat" ]
send_metrics = false
# turn off preview urls to lower confusion
preview_urls = false
# File assets
assets = { run_worker_first = false, directory = "./assets/", not_found_handling = "single-page-application" }

# Website Domain
routes = [
  { pattern = "skyscheduler.work", custom_domain = true }
]

# KV Data
kv_namespaces = [
  { binding = "KV", id = "0ecd892014ac47eea38c72be94586e7b" }, # Redis for sessions
  { binding = "INVITE_POOL", id = "45e1cff45cad45c28b22c4fbcd30db00" } # Invite key pool
]

[observability]
enabled = true
head_sampling_rate = 1

[[d1_databases]]
binding = "DB"
database_name = "skyposts"
database_id = "5553e724-4dfb-4771-9c08-3584da5855d1"
migrations_table = "migrations"
migrations_dir = "migrations"

# media storage
[[r2_buckets]]
binding = "R2"
bucket_name = "skyembeds"

[images]
binding = "IMAGES"

[triggers]
# Schedule cron triggers at the start of every hour and ~5:30pm on sunday for big cleanups:
crons = [ "0 * * * *", "30 17 * * sun" ]

# flags required to run wrangler in linux
[dev]
ip = "127.0.0.1"

[vars]
# the domain and protocol that this application is hosted on. note this value is also used for CORS
BETTER_AUTH_URL="https://skyscheduler.work"

# If we should use cf image transforms
USE_IMAGE_TRANSFORMS=true
USE_BSKY_IMAGE_DIMENSIONS=false

# how many image quality steps should we attempt and how much of a percentage per step should we take off of quality
MAX_IMAGE_QUALITY_STEPS=6
IMAGE_DEGRADE_PER_STEP=5

# Signup options
USE_TURNSTILE_CAPTCHA=true
USE_INVITE_KEYS=true

# link to invite threads
INVITE_THREAD="https://bsky.app/profile/skyscheduler.work/post/3ltsfnzdmkk2l"

# contact link
CONTACT_LINK="https://bsky.app/profile/skyscheduler.work"