name = "skyscheduler"
main = "src/index.tsx"
compatibility_date = "2024-12-13"
compatibility_flags = [ "nodejs_compat" ]
send_metrics = false
minify = true
upload_source_maps = true
preview_urls = false
# File assets
assets = { run_worker_first = false, directory = "./assets/", not_found_handling = "single-page-application" }

# Website Domain
routes = [
  { pattern = "skyscheduler.work", custom_domain = true }
]

# KV Data
kv_namespaces = [
  { binding = "KV", id = "0ecd892014ac47eea38c72be94586e7b" }, # Redis for sessions
  { binding = "INVITE_POOL", id = "45e1cff45cad45c28b22c4fbcd30db00" } # Invite key pool
]

[[d1_databases]]
binding = "DB"
database_name = "skyposts"
database_id = "5553e724-4dfb-4771-9c08-3584da5855d1"
migrations_table = "migrations"
migrations_dir = "migrations"

# media storage
[[r2_buckets]]
binding = "R2"
bucket_name = "skyembeds"

# temporary storage to get CF Images working, this bucket should be WAF'd so no one but the worker can access it.
[[r2_buckets]]
binding = "R2RESIZE" 
bucket_name = "skyscheduler-resize"

[triggers]
# Schedule cron triggers at the start of every hour and ~5:30pm on sunday for big cleanups:
crons = [ "0 * * * *", "30 17 * * sun" ]

# flags required to run wrangler in linux
[dev]
ip = "127.0.0.1"

[observability]
enabled = true
head_sampling_rate = 1
[observability.traces]
enabled = true
head_sampling_rate = 0.5
persist = true

[vars]
# the domain and protocol that this application is hosted on. note this value is also used for CORS
BETTER_AUTH_URL="https://skyscheduler.work"

# If we should use cf image transforms & how much of a quality percentage should we try and the public location of the resize bucket.
IMAGE_SETTINGS={enabled=true, steps=[95, 85, 75]}
RESIZE_BUCKET_URL="https://resize.skyscheduler.work/"

# Signup options and if keys should be used
USE_TURNSTILE_CAPTCHA=true
INVITE_SETTINGS = {invite_only=false, invite_thread="https://bsky.app/profile/skyscheduler.work/post/3ltsfnzdmkk2l"}

# redirect links
REDIRECTS = {contact="https://bsky.app/profile/skyscheduler.work", tip="https://ko-fi.com/socksthewolf/tip"}