/** SIDEBAR **/
.postItemHeader {
  min-height: 50px;
  button {
    display: inline-flex
  }
  button span:hover {
    cursor: unset !important;
  }
  /*button span:hover {
    position: absolute;
    border-bottom: none !important;
    cursor: unset !important;
    display: flex;
    img {
      display: inline-block;
      position: relative;
      top: 10px;
      cursor: unset !important;
    }
  }*/
  button:has(+ button) {
    margin-right: 10px;
  }
}

.repostStatus {
  margin-right: 1rem;
  /* make it green */
  svg, img {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }
}

.sidebar-block {
  margin-top: -.2rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 510px) and (max-width:1200px) {
  .logoBox h4 {
    display: none;
  }
}

.row-fluid, .pico .row-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width:1060px) {
  .row-fluid, .pico .row-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Setting and refresh buttons */
.postControls {
  margin-top: 0.6rem;
}

.postControls > button, .postControls > a {
  margin-right: 10px;
  margin-bottom: 5px;
}

/** POSTS **/
#posts {
  max-height: 55dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.postText {
  white-space: pre-wrap;
}

.btn-sm, .pico .btn-sm {
  width: 25px !important;
  height: 30px;
  padding: unset;
  line-height: unset;
}

.deletePostsButton {
  float: right;
  svg, img {
    margin-left: 1px;
    margin-top: -7px;
  }
}

.addRepostsButton {
  svg, img {
    margin-top: -7px;
    margin-left: 1px;
  }
}

/** THREADS **/
.pico #posts blockquote {
  margin: 0 !important;
  padding: 0 !important;
}

/* Highlighting when post is edited */
.highlight, .highlight div, .highlight header, .highlight footer {
  background-color: rgba(210, 166, 8, 0.891) !important;
}

.thread-cancel {
  margin-top: -2rem;
  float: right;
}

.addThreadPost {
  svg, img {
    margin-top: -7px;
    margin-left: 1.3px;
  }
}

/** DASHBOARD CLASSES **/
.w-full {
  width: 100%;
}

.w-half {
  width: 50% !important;
}

.dashboard {
  padding-top: 1px;
}

html:not(.modal-is-open) {
  scrollbar-gutter: stable;
}

#count, .editImgThumb, .editAltBlock {
  display: inline-block;
}

#refresh-posts > span, #settingsButton > span, .repostIcon {
  margin-right: 5px;
}

/** VIOLATIONS **/
.warning-box {
  position: relative;
  padding: 3px;
  background: linear-gradient(to right, orange, orangered);
  margin-bottom: 5px;
}

.warning {
  color: white;
}

/** SETTINGS **/
#accountResponse .btn-error *, #accountDeleteResponse .btn-error * {
  margin-left: 5px;
  color: white;
}

#deleteAccount {
  z-index: 20;
}

dialog button.btn-error {
  float: left;
}

/** MAKING/EDITING POSTS **/
textarea {
  resize: none !important;
}

/* Fix floating label due to tab list shenanigans */
@media (max-width: 45em) {
  #post-content-label {
    width: unset !important;
  }
}

.uploadGuidelines, .editAltBlock {
  margin-left: 10px;
}

/* Character Counts */
.smallLabel {
  display: block;
  width: 100%;
  margin-top: calc(var(--pico-spacing) * -.75);
  margin-bottom: var(--pico-spacing);
  color: var(--pico-muted-color);
}

.tooLong {
  color: red;
}

/* Retweet Options */
.repostScheduleSimple {
  display: inherit !important;
  text-align: center;
  select {
    width: 10%;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
  }
}

.capitialize {
  text-transform: capitalize;
}

/* Checkbox Input Helpers */
.checkboxLine {
  width: unset !important;
}

.noselect {
  user-select: none;
}

/* ALT TEXT */
#altTextField {
  margin-top: 10px;
}

#altThumbImg, .editImgThumb {
  max-width: 25vw;
  max-height: 25vh;
  overflow: hidden;
}

/* EDIT POST */
.editPostKeyboard {
  svg, img {
    margin-top: -7px;
    margin-left: 2px;
  }
  text-decoration: none;
  padding: 0;
  color: white;
  display: inline-block;
}

.editPostAlt {
  margin-right: 5px;
  font-size: 0.75rem;
  padding: 5px;
}

/** MISC **/
.btn-sm span {
  border-bottom: none !important;
  cursor: pointer;
}

/** REFRESH ANIMATION **/

/* Lightly adapted from https://github.com/n3r4zzurr0/svg-spinners */
@keyframes refreshPostSpinner {
  100% {
    transform:rotate(-360deg)
  }
}
.svgAnim svg, .svgAnim img {
  transform-origin:center;
  animation:refreshPostSpinner .75s infinite linear;
}
