/** SIDEBAR **/
.postItemHeader {
  min-height: 55px;

  button, .repostStatus {
    display: inline-flex;
    vertical-align: middle;
    float: left;
  }
  button span:hover {
    cursor: unset !important;
  }
  button:has(+ button) {
    margin-right: 10px;
  }
}

.sidebar {
  overflow-y: hidden;
  margin-bottom: 0px !important;
}

.repostStatus {
  margin-right: 1rem;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 2px;
  border-radius: 7px;
  border: 1px solid var(--pico-secondary);
}

.repostStatus img {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.sidebar-block {
  margin-top: -.2rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 510px) and (max-width:1200px) {
  .logoBox h4 {
    display: none;
  }
}

.row-fluid, .pico .row-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width:1060px) {
  .row-fluid, .pico .row-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.sidebarBottom {
  margin-bottom: -55px !important;
}

/* Setting and refresh buttons */
.postControls {
  margin-top: 0.6rem;
}

.postControls > button, .postControls > a {
  margin-right: 10px;
  margin-bottom: 5px;
}

.scrollBtn {
  display: none;
}

@media (max-width: 510px) {
  .scrollBtn {
    display: inline !important;
    color: green !important;
    border-color: green !important;
  }
  .sidebarBottom {
    margin-bottom: unset !important;
  }
}

/** POSTS **/
#posts {
  max-height: 55dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.postText {
  white-space: pre-wrap;
}

.btn-sm, .pico .btn-sm {
  width: 25px !important;
  height: 30px;
  padding: unset;
  line-height: unset;
}

.deletePostsButton {
  float: right !important;
}

.header-btn {
  margin-bottom: 0px !important;
  img {
    margin-left: 1px;
  }
}

@media (min-width: 510px) {
  .header-btn img {
    margin-top: -.7dvh;
  }
  .hideOnMobile {
    display: inherit;
  }
}

/** THREADS **/
.pico #posts blockquote {
  margin: 0 !important;
  padding: 0 !important;
}

/* Highlighting when post thread is being made */
.highlight, .highlight div, .highlight header, .highlight footer {
  background-color: #0e619e !important;
}

.thread-cancel {
  margin-top: -2rem;
  float: right;
}

/** DASHBOARD CLASSES **/
.w-full {
  width: 100%;
}

.w-half {
  width: 50% !important;
}

.dashboard {
  padding-top: 1px;
}

html:not(.modal-is-open) {
  scrollbar-gutter: stable;
}

#count, .editImgThumb, .editAltBlock {
  display: inline-block;
}

.postControls > button > span, .repostIcon {
  margin-right: 5px;
}

/** VIOLATIONS **/
.warning-box {
  position: relative;
  padding: 3px;
  background: linear-gradient(to right, orange, orangered);
  margin-bottom: 5px;
}

.warning {
  color: white;
}

/** SETTINGS **/
#accountResponse .btn-error *, #accountDeleteResponse .btn-error * {
  margin-left: 5px;
  color: white;
}

#deleteAccount {
  z-index: 20;
}

dialog button.btn-error {
  float: left;
}

/** MAKING/EDITING POSTS **/
textarea {
  resize: none !important;
}

/* Fix floating label due to tab list shenanigans */
@media (max-width: 45em) {
  #post-content-label {
    width: unset !important;
  }
}

.uploadGuidelines, .editAltBlock, .indent-10 {
  margin-left: 10px;
}

.uploadGuidelines {
  margin-bottom: 0px !important;
  summary:focus {
    color: var(--pico-accordion-close-summary-color) !important;
  }
}

/* Character Counts */
.smallLabel {
  display: block;
  width: 100%;
  margin-top: calc(var(--pico-spacing) * -.75);
  margin-bottom: var(--pico-spacing);
  color: var(--pico-muted-color);
}

.tooLong {
  color: red;
}

/* Retweet Options */
.repostScheduleSimple {
  display: inherit !important;
  text-align: center;
  select {
    width: 10%;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
  }
}

#repostDataPopover {
  max-width: 90%;
  max-height: 80%;
  overflow-x: hidden;
  table {
    width: unset;
  }
  thead {
    word-wrap: anywhere;
  }
  p {
    max-width: 30dvw;
  }
}

@media (max-width: 510px) {
  .repostScheduleSimple select {
    width: 15%;
  }
  .hideOnMobile {
    display: none;
  }
  #repostDataPopover p {
    max-width: unset;
  }
}

.highlight-repost, .highlight-repost div, .highlight-repost header, .highlight-repost footer {
  background-color: #6d491b !important;
}

.capitialize {
  text-transform: capitalize;
}

#repostDataPopoverHolder footer {
  margin-top: 0 !important;
}

#click-close {
  padding: 4px;
  width: 100%;
}

/* Checkbox Input Helpers */
.checkboxLine {
  width: unset !important;
}

.noselect {
  user-select: none;
}

/* ALT TEXT */
#altTextField {
  margin-top: 10px;
}

#altThumbImg, .editImgThumb {
  max-width: 25vw;
  max-height: 25vh;
  overflow: hidden;
}

/* EDIT POST */
.editPostKeyboard {
  text-decoration: none;
  padding: 0;
  color: white;
  display: inline-block;
}

.editPostAlt {
  margin-right: 5px;
  font-size: 0.75rem;
  padding: 5px;
}

/** MISC **/
.btn-sm span {
  border-bottom: none !important;
}

.clicker:not(:disabled), .btn-sm span {
  cursor: pointer !important;
  * {
    cursor: pointer !important;
  }
}

.modify-repost {
  margin-left: 10px;
}

/** REFRESH ANIMATION **/

/* Lightly adapted from https://github.com/n3r4zzurr0/svg-spinners */
@keyframes refreshPostSpinner {
  100% {
    transform: rotate(360deg)
  }
}
.svgAnim svg, .svgAnim img {
  transform-origin:center;
  animation: refreshPostSpinner .75s infinite linear;
}
