.dropzone .dz-preview.dz-image-preview {
  background-color: var(--pico-background-color);
}

.dropzone .dz-preview .dz-details {
  opacity: 0.7;
  color: unset;
  text-align: right;
}

.dropzone .dz-preview {
  min-width: 15rem;
}

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
  background-color: unset;
}

.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: unset;
  background-color: unset;
}

.dz-filename {
  width: 65%;
  float: right;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.dropzone .dz-preview .dz-progress .dz-upload {
  font-size: 0.5em;
  font-weight: bold;
  color: black;
}

.file-item-group {
  height: 15%;
  display: block !important;
  button {
    margin-top: 10px;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    text-wrap: nowrap;
    vertical-align: center !important;
    padding-top: 0px;
  }
}

.has-alt-text {
  border: var(--pico-border-width) solid green !important;
  color: green !important;
}