.tooLong {
  color: red;
}

.hidden {
  display: none;
}

#repostScheduleSimple {
  select {
    width: 10%;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
  }
}

.dz-filename, .truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-error {
  border: var(--pico-border-width) solid red; 
  color: red;
}

.btn-error:hover {
  --error-color-hover: rgb(252, 60, 60);
  border: var(--pico-border-width) solid var(--error-color-hover); 
  color: var(--error-color-hover);
}

.btn-error:not(.outline), .btn-error:not(.outline):hover {
  background-color: red;
  color: white;
}

.btn-success {
  border: var(--pico-border-width) solid green; 
  color: green;
}

.btn-sm {
  width: 25px !important;
  height: 30px;
  padding: unset;
  line-height: unset;

}

.btn-delete {
  float: right;
  svg {
    margin-top: -10px;
  }
}

.w-full {
  width: 100%;
}

.max-width-50 {
  max-width: 100%;
  grid-column: auto / span 1;
}

.max-width-50 article, .dashboard, .homepage {
  padding-bottom: 0px;
}

.mainContent {
  grid-column: auto / span 3;
}

#posts {
  max-height: 55dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.imgbtn {
  height: 15%;
  display: block;
  button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px !important;
    text-wrap: nowrap;
    vertical-align: center;
    padding-top: 0px;
  }
}

#count {
  display: inline-block;
}

#refresh-posts > span, #settingsButton > span {
  margin-right: 5px;
}

.controls {
  margin-top: 0.6rem;
}

.controls > button {
  margin-right: 10px;
  margin-bottom: 5px;
}

.smallest {
  text-align: center;
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--pico-muted-color);
}

#loginForm button[type="submit"] {
  width: 50%;
}

.inline-header {
  margin-top: unset;
}

#deleteAccount {
  z-index: 20;
}

#refresh-posts-force {
  display: none;
}

#footerLinks span:not(:last-child):after {
  content: " | "
}

@media (min-width:320px) {
  .max-width-50 {
    margin-left: 20px;
  }
}

.credits a {
  margin-left: 5px;
}

.warning-box {
  position: relative;
  padding: 3px;
  background: linear-gradient(to right, orange, orangered);
  margin-bottom: 5px;
}

.warning {
  color: white;
}

#accountResponse .btn-error *, #accountDeleteResponse .btn-error * {
  margin-left: 5px;
  color: white;
}

dialog button.btn-error {
  float: left;
}

.uploadGuidelines {
  margin-left: 10px;
}

#altTextField {
  margin-top: 10px;
}

#altThumbImg {
  max-width: 25vw;
  max-height: 25vh;
  overflow: hidden;
}

textarea {
  resize: none;
}

/* Lightly adapted from https://github.com/n3r4zzurr0/svg-spinners */
@keyframes refreshPostSpinner {
  100% {
    transform:rotate(-360deg)
  }
}
.svgAnim svg {
  transform-origin:center;
  animation:refreshPostSpinner .75s infinite linear;
}