.tooLong {
  color: red;
}

.hidden {
  display: none !important;
}

.sidebar-block {
  margin-top: -.2rem;
  padding-bottom: 0.5rem;
}

.postItemHeader {
  min-height: 50px;
}

.repostScheduleSimple {
  select {
    width: 10%;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
  }
}

.dz-filename, .truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-error, .pico .btn-error {
  border: var(--pico-border-width) solid red;
  color: red;
}

.btn-error:hover, .pico .btn-error:hover {
  --error-color-hover: rgb(252, 60, 60);
  border: var(--pico-border-width) solid var(--error-color-hover);
  color: var(--error-color-hover);
}

.btn-error:not(.outline), .pico .btn-error:not(.outline):hover {
  background-color: red;
  color: white;
}

.btn-success, .pico .btn-success {
  border: var(--pico-border-width) solid green;
  color: green;
}

.btn-sm, .pico .btn-sm {
  width: 25px !important;
  height: 30px;
  padding: unset;
  line-height: unset;

}

.btn-delete, .pico .btn-delete {
  float: right;
  svg, img {
    margin-top: -7px;
  }
}
.btn-delete .thread-cancel {
  display: inline-block;
  margin-top: 3px;
}

.addThreadPost {
  svg, img {
    margin-top: -7px;
    margin-left: 1.3px;
  }
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50% !important;
}

.w-third {
  width: 33% !important;
}

.dashboard {
  padding-top: 1px;
}

.row-fluid, .pico .row-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width:1060px) {
  .row-fluid, .pico .row-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#posts {
  max-height: 55dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.imgbtn {
  height: 15%;
  display: block;
  button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px !important;
    text-wrap: nowrap;
    vertical-align: center;
    padding-top: 0px;
  }
}

#count, .editImgThumb, .editAltBlock {
  display: inline-block;
}

#refresh-posts > span, #settingsButton > span {
  margin-right: 5px;
}

.postControls {
  margin-top: 0.6rem;
}

.postControls > button, .postControls > a {
  margin-right: 10px;
  margin-bottom: 5px;
}

.smallest {
  text-align: center;
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--pico-muted-color);
}

#loginForm button[type="submit"] {
  width: 50%;
}

.inline-header {
  margin-top: unset;
}

.noselect {
  user-select: none;
}

#deleteAccount {
  z-index: 20;
}

#footerLinks span:not(:last-child):after {
  content: " | "
}

.credits a {
  margin-left: 5px;
}

.warning-box {
  position: relative;
  padding: 3px;
  background: linear-gradient(to right, orange, orangered);
  margin-bottom: 5px;
}

.warning {
  color: white;
}

#accountResponse .btn-error *, #accountDeleteResponse .btn-error * {
  margin-left: 5px;
  color: white;
}

dialog button.btn-error {
  float: left;
}

.uploadGuidelines, .editAltBlock {
  margin-left: 10px;
}

#altTextField {
  margin-top: 10px;
}

#altThumbImg, .editImgThumb {
  max-width: 25vw;
  max-height: 25vh;
  overflow: hidden;
}

[role="tablist"], .pico [role="tablist"] {
  display: block;
}

textarea, .pico textarea {
  resize: none;
}

.editPostKeyboard {
  svg, img {
    margin-top: -7px;
  }
  text-decoration: none;
  padding: 0;
  color: white;
  display: inline-block;
}

.editPostAlt {
  margin-right: 5px;
  font-size: 0.75rem;
  padding: 5px;
}

.logout {
  color: orangered;
}

.smallLabel {
  display: block;
  width: 100%;
  margin-top: calc(var(--pico-spacing) * -.75);
  margin-bottom: var(--pico-spacing);
  color: var(--pico-muted-color);
}

.capitialize {
  text-transform: capitalize;
}

.serverFunds {
  position: relative;
  top: -10px;
}

.highlight, .highlight div, .highlight header, .highlight footer {
  background-color: rgba(210, 166, 8, 0.891) !important;
}

[data-tooltip]:before, .pico [data-tooltip]:before {
  white-space: preserve-breaks !important;
}

/* Lightly adapted from https://github.com/n3r4zzurr0/svg-spinners */
@keyframes refreshPostSpinner {
  100% {
    transform:rotate(-360deg)
  }
}
.svgAnim svg, .svgAnim img {
  transform-origin:center;
  animation:refreshPostSpinner .75s infinite linear;
}