.hidden {
  display: none !important;
}

.navHeader, .logoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  div a {
    text-decoration: none;
  }
  h2, h4 {
    display: flex;
    margin-top: 2px;
    margin-bottom: 0px;
    line-height: unset;
  }
  img {
    float: left;
    margin-right: 20px;
  }
}

.btn-error, .pico .btn-error {
  border: var(--pico-border-width) solid red;
  color: red;
}

.btn-error:hover, .pico .btn-error:hover {
  --error-color-hover: rgb(252, 60, 60);
  border: var(--pico-border-width) solid var(--error-color-hover);
  color: var(--error-color-hover);
}

.btn-error:not(.outline), .pico .btn-error:not(.outline):hover {
  background-color: red;
  color: white;
}

#loginForm button[type="submit"] {
  width: 50%;
}

.inline-header {
  margin-top: unset;
}

#footerLinks span:not(:last-child):after {
  content: " | "
}

.credits a {
  margin-left: 5px;
}

[role="tablist"], .pico [role="tablist"] {
  display: block;
}

.logout {
  color: orangered;
}

.serverFunds {
  position: relative;
  top: -10px;
}

[data-tooltip]:before, .pico [data-tooltip]:before {
  white-space: preserve-breaks !important;
}

.toastify-avatar {
  margin-left: 0px;
}