.tribute-container {
  margin-top: 20px;
  background-color: var(--pico-card-sectioning-background-color);
  box-shadow: 3px 2px lightgray;
}

.tribute-container ul {
  background: unset !important;
}

.tribute-container li {
  border-top: 1px solid var(--pico-muted-border-color);
  color: var(--pico-code-color);
}

.tribute-container li.highlight {
  background-color: var(--pico-text-selection-color);
}

.tribute-container li {
  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
  }
  small {
    color: gray;
    margin-left: 10px;
  }
  code {
    display: inline;
  }
  span {
    font-weight: unset;
  }
}
